.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2 {
  background-color: white;
  color: black;
  font-family: monospace;
  border: 2px solid #FFA300;
}

.button2:hover {
  background-color:#FFA300;
  color: white;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #0CF3A4;
}

.button1:hover {
  background-color: #0CF3A4;
  color: white;
}
/* user button */
.user {
  background-color:#1CB800;
  color: white;


}
.user:hover {
  background-color: white;
  color: #1CB800;
  border: 2px solid #1CB800;
}

/* Logout button */
.logout {
  background-color:#EBEBE9;
  color: #373838;


}
.logout:hover {
  background-color: #373838;
  color: #EBEBE9;
  border: 2px solid #EBEBE9;
}

/* Home button */
.home {
  background-color:#1C8CE3;
  color: white;

}
.home:hover {
  background-color: white;
  color: #1C8CE3;
  border: 2px solid #1C8CE3;

}
/* login button */
.login {
  background-color:#EBEBE9;
  color: #373838;


}
.login:hover {
  background-color: #373838;
  color: #EBEBE9;
  border: 2px solid #EBEBE9;
}

/* anonymous button */
.anonymous {
  background-color:#E0621F;
  color:white;


}
